header{
     background:url('../img/header.jpeg');
     background-repeat: no-repeat;
     background-repeat: no-repeat;
     padding-bottom: 20%;
     background-size: cover;
     background-position-y: -350px;
}

.agenceImg{
     width: 15% !important;
}

a{
     text-decoration: none;
}