
<form action="" method="post">
     <input type="hidden" name="idChambre" value="">
     <div class="row">
          <div class="form-group col-6">
               <label for="">Nom</label>
               <input type="text" name="nom" class="form-control">
          </div>

          
          <div class="form-group col-6">
               <label for="">Prénom</label>
               <input type="text" name="prenom" class="form-control">
          </div>

          <div class="form-group col-6">
               <label for="">Login</label>
               <input type="text" name="login" class="form-control">
          </div>

          <div class="form-group col-6">
               <label for="">Password</label>
               <input type="password" name="mdp" class="form-control">
          </div>

          <div class="form-group col-6">
               <label for="">Email</label>
               <input type="email" name="email" class="form-control">
          </div>

          
          <div class="form-group col-6">
               <label for="">Téléphone</label>
               <input type="text" name="tel" class="form-control">
          </div>
     </div>
     <div class="row">
          <div class="form-group col-6">
               <label for="">Adresse</label>
               <input type="text" name="adresse" class="form-control">
          </div>
          <div class="form-group col-6">
               <label for="">Code postal</label>
               <input type="text" name="cp" class="form-control">
          </div>
     </div>
     <div class="row mb-3">
          <div class="form-group col-6">
               <label for="">Ville</label>
               <input type="text" name="ville" class="form-control">
          </div>
          <div class="col-6 mt-4">
               <label for="">Statut : </label>
               <div class="form-check-inline">
                    <input type="radio" name="statut" value="ADMIN" id="admin" class="form-group">
                    <label for="admin"> Admin</label>
               </div>
               <div class="form-check-inline">
                    <input type="radio" name="statut" value="CLIENT" id="client" class="form-group">
                    <label for="client"> Client</label>
               </div>
          </div>
     </div>

     <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
     <button type="submit" class="btn btn-primary">Envoyer</button>
</form>