
     <main class="container-fluid">
          <table class="table table-strepid table-hover">
               <tr class="table-dark">
                    <th>Id membre</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Login</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Statut</th>
                    <th>Date Inscription</th>
                    <th>Action</th>
               </tr>

               <?php foreach($membres as $membre): ?>
                    <tr>
                         <td> <?= $membre['id_membre']; ?> </td>
                         <td> <?= $membre['prenom']; ?> </td>
                         <td> <?= $membre['id_membre']; ?> </td>
                         <td> <?= $membre['id_membre']; ?> </td>
                         <td> <?= $membre['id_membre']; ?> </td>
                         <td> <?= $membre['id_membre']; ?> </td>
                         <td> <?= $membre['id_membre']; ?> </td>
                         <td> <?= $membre['id_membre']; ?> </td>
                         <td> <?= $membre['id_membre']; ?> </td>
                         <td> <?= $membre['id_membre']; ?> </td>
                         <td> <?= $membre['id_membre']; ?> </td>
                         <td>
                              <a href="">Modifier</a>
                              <a href="">Supprimer</a>
                         </td>
                    </tr>
               <?php endforeach; ?>

          </table>

          <?php include "views/membre/form.html"; ?>

     </main>