{% extends 'base.html.twig' %}

{% block title %}Hello VoitureController!{% endblock %}

{% block body %}
    <h1>Ajouter une Voiture</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}
    
{% endblock %}
